.CurrencyConverter {
    background-color: rgb(230, 223, 211);
    padding: 10px;
    margin: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    text-align: center;
}

.inputBox {
    background-color: rgb(218, 227, 238);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  
  button {
    border: none;
    float: right;
    margin: 2px;
  }
  
  button:hover {
    background-color: coral;
  }
  
  input, select {
    border: none;
  }